/** Main page settings */

* {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    max-width: 1500px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Changes the selection color from blue to gray */
::selection {
    background: #bababa;
}

select::-ms-expand {
    display: none;
}

/** Header styling */

header {
    padding: 10px;
    background-color: aquamarine;
}

nav {
    padding: 10px;
    background-color: brown;
}

.header-a {
    color: black;
    text-decoration: none;
}

/** Main styling */

main {
    padding: 20px;
    background-color: coral;
}

#main-game-wrapper {
    background-color: orange;
}

#player-answer {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#player-answer:active {
    border: none;
}

#console-answer {
    padding: 20px;
}

.player-correct {
    background-color: green;
}

.player-false {
    background-color: red;
}