/** Main page settings */
* {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    max-width: 1500px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* 
Changes the selection color from blue to gray 
*/
::selection {
    background: #bababa;
}

select::-ms-expand {
    display: none;
}

/** Header styling */
header {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#header-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header-right > nav {
    padding: 10px;
    font-size: 24px;
}

.header-a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
}


.header-a:hover {
    background-color: #F26419;
}

#header-logo {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
}

/** Main styling */
main {
    padding: 5px;
}

.btn-primary {
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    background-color:#F6AE2D;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #c5902f;
}

/* 
Wrapper settings for the game engine
*/
#game-wrapper {
    display: flex;
    flex-direction: row;
}

#game-wrapper-left {
    width: 40%;
}

#game-wrapper-right {
    width: 60%;
}

.game-wrapper-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* 
Styling the game engine components 
*/
.game-wrapper-block {
    padding: 5px;
}

.font-block {
    display: block;
}

.font-awesome-align {
    vertical-align: middle;
}

#game-wrapper-title {
    padding: 20px;
    background-color: #F6AE2D;
    border-radius: 4px;
}

#game-wrapper-input {
    -moz-appearance: textfield;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    outline: 1px solid #F6AE2D;
    border: 0;
    border-radius: 4px;
}

#game-wrapper-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.game-wrapper-response {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.answer-wrong {
    background-color: #F7717D;
    color: #9e010e;
    display: none;
}

.answer-right {
    background-color: #AEF78E;
    color: #32a103;
    display: none;
}

.orange-icon {
    color: #F26419;
}

/** Footer styling */

footer {
    padding: 5px;
}